{{ observableData | json }}

<table id="mainTable">
  <tr id="navRow" class="header-row">
    <th><input type="checkbox" id="item0" name="check-me" /></th>
    <th>Selected</th>
    <th>Download selected</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr class="header-row">
    <th>&nbsp;</th>
    <!-- <th *ngFor="let key of objectKeys(observableData)">{{ key.name }}</th> -->
    <!-- <th>Name</th>
    <th>Device</th>
    <th>Path</th>
    <th>Status</th> -->
  </tr>
  <tr *ngFor="let item of observableData; index as i">
    <td><input type="checkbox" [id]="i" name="check-me" /></td>
    <td>{{ item.name }}</td>
    <td>{{ item.device }}</td>
    <td>{{ item.path }}</td>
    <td>{{ item.status }}</td>
  </tr>
</table>
