#mainTable {
  border-collapse: collapse;
  tr {
    &:hover:not('.header-row') {
      background-color: #ddd;
      cursor: pointer;
    }
    td {
      border-bottom: 1px solid #ddd;
      padding-right: 1.5em;
    }
  }
  th:nth-child(1) {
    text-align: left;
  }
}
